{% extends 'index.html' %}
{% load static %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/jquery.mask.min.js' %}"></script>
{% endblock%}


        {% block middle %}
        <!-- OVERVIEW -->
        <section>
             <h4>Lista de Cartões</h4>
            <div class="content row padding-top-3 desktop-12 container">
                {% for card in cards_list %}
                <p>Card: {{ card.id }}</p>
                <p>Crédito: {{ card.credit }}</p>
                <p>Data: {{ card.created_at }}</p>
                {% endfor %}

            </div>

        </section>
        {% endblock %}
