{% extends 'index.html' %}
{% load static %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/jquery.mask.min.js' %}"></script>
{% endblock%}


        {% block middle %}
        <!-- OVERVIEW -->
        <section>
             <h4>Lista de Clientes</h4>
            <div class="content row padding-top-3 desktop-12 container">
                {% for client_obj in clients_list %}
                <p><a class="btn-basic btn-blue" data-scroll href="/api/clients/{{ client_obj.id }}">{{ client_obj.name }}</a></p>
                {% endfor %}

            </div>
        	<div class="content row padding-bottom-3 desktop-12 container">
                <h4>Cadastro de Cliente</h4>
                <div class="desktop-6">
                    <form action="/api/clients/" novalidate method="post">
                        {% csrf_token %}
                        <div class="form-row label-block input-text">
                            <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                            {{ form.name.errors }}
                            {{ form.name }}
                        </div>
                        <div class="form-row label-block input-text">
                            <label for="{{ form.cpf.id_for_label }}">{{ form.cpf.label }}</label>
                            {{ form.cpf.errors }}
                            {{ form.cpf }}
                        </div>
                        <div class="form-row label-block input-text">
                            <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                            {{ form.email.errors }}
                            {{ form.email }}
                        </div>
                        <div class="form-row label-block input-text">
                            <label for="{{ form.monthly_income.id_for_label }}">{{ form.monthly_income.label }}</label>
                            {{ form.monthly_income.errors }}
                            {{ form.monthly_income }}
                        </div>
                        <p class="btn-row"><input type="submit" value="Enviar!"/></p>
                    </form>
                </div>
            </div>
        </section>
        {% endblock %}
